<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppURL</key>
	<string>http://taplynx.com/</string>
	<key>Downloads_MaxConcurrent</key>
	<integer>4</integer>
	<key>NavController_color</key>
	<string>#709080</string>
	<key>NavController_style</key>
	<string>custom</string>
	<key>NewsItemHTML_BackgroundColor</key>
	<string>#FFFFFF</string>
	<key>NewsItemHTML_DatelineColor</key>
	<string>#999999</string>
	<key>NewsItemHTML_DescriptionColor</key>
	<string>#222222</string>
	<key>NewsItemHTML_LinkColor</key>
	<string>#709080</string>
	<key>NewsItemHTML_OpenInSafariCommand</key>
	<true/>
	<key>NewsItemHTML_PostToTwitterCommand</key>
	<true/>
	<key>NewsItemHTML_TitleBackgroundBottomBorderColor</key>
	<string>#333333</string>
	<key>NewsItemHTML_TitleBackgroundColor</key>
	<string>#709080</string>
	<key>NewsItemHTML_TitleColor</key>
	<string>#FFFFFF</string>
	<key>NewsItemList_DateColor</key>
	<string>#666666</string>
	<key>NewsItemList_DescriptionColor</key>
	<string>#333333</string>
	<key>NewsItemList_DrawGradientBackgrounds</key>
	<true/>
	<key>NewsItemList_GradientEndGray</key>
	<real>0.88</real>
	<key>NewsItemList_GradientStartGray</key>
	<real>0.98</real>
	<key>NewsItemList_GradientTopLineGray</key>
	<integer>1</integer>
	<key>NewsItemList_Group</key>
	<true/>
	<key>NewsItemList_GroupBy</key>
	<string>day</string>
	<key>NewsItemList_HideAccessoryView</key>
	<true/>
	<key>NewsItemList_ReadColor</key>
	<string>#333333</string>
	<key>NewsItemList_RefreshButton</key>
	<true/>
	<key>NewsItemList_RefreshButtonPrimaryTabPlacement</key>
	<string>left</string>
	<key>NewsItemList_SeparatorColor</key>
	<string>#DFDFDF</string>
	<key>NewsItemList_TableBackgroundColor</key>
	<string>#cccccc</string>
	<key>NewsItemList_TitleFontSize</key>
	<integer>13</integer>
	<key>NewsItemList_UnreadColor</key>
	<string>#709080</string>
	<key>Refresh_Minutes</key>
	<integer>15</integer>
	<key>Search</key>
	<dict>
		<key>NavController_style</key>
		<string>black</string>
	</dict>
	<key>SearchModal</key>
	<true/>
	<key>SearchModal_ButtonPlacement</key>
	<string>right</string>
	<key>ShowUnreadCounts</key>
	<false/>
	<key>tabs</key>
	<array>
		<dict>
			<key>Feeds</key>
			<array>
				<dict>
					<key>xmlUrl</key>
					<string>http://inessential.com/xml/rss.xml</string>
				</dict>
				<dict>
					<key>xmlUrl</key>
					<string>http://ranchero.com/xml/rss.xml</string>
				</dict>
			</array>
			<key>NewsItemHTML_TemplateName</key>
			<string>brentTemplate.html</string>
			<key>ShortTitle</key>
			<string>Brent</string>
			<key>TabImageName</key>
			<string>tab_placeholder.png</string>
			<key>Title</key>
			<string>Brent</string>
		</dict>
		<dict>
			<key>Feeds</key>
			<array>
				<dict>
					<key>xmlUrl</key>
					<string>http://www.halfapixelshort.com/rss</string>
				</dict>
			</array>
			<key>NewsItemHTML_TemplateName</key>
			<string>brentTemplate.html</string>
			<key>ShortTitle</key>
			<string>Brad</string>
			<key>TabImageName</key>
			<string>tab_placeholder.png</string>
			<key>Title</key>
			<string>Brad Ellis</string>
			<key>Type</key>
			<string>horizontal_browser</string>
		</dict>
		<dict>
			<key>Ad_GradientEndColor</key>
			<string>#666666</string>
			<key>Ad_GradientStartColor</key>
			<string>#999999</string>
			<key>Ad_GradientTopLine</key>
			<string>#AAAAAA</string>
			<key>Feeds</key>
			<array>
				<dict>
					<key>GalleryTitle</key>
					<string>Flickr Public Feed</string>
					<key>xmlUrl</key>
					<string>http://api.flickr.com/services/feeds/photos_public.gne</string>
				</dict>
			</array>
			<key>NavController_color</key>
			<string>#997733</string>
			<key>NewsItemList_GradientEndColor</key>
			<string>#CCCCCC</string>
			<key>NewsItemList_GradientStartColor</key>
			<string>#DDDDDD</string>
			<key>NewsItemList_GradientTopLine</key>
			<string>#EEEEEE</string>
			<key>NewsItemList_SeparatorColor</key>
			<string>#999999</string>
			<key>NewsItemList_TableBackgroundColor</key>
			<string>#dddddd</string>
			<key>ShortTitle</key>
			<string>Photos</string>
			<key>TabImageName</key>
			<string>tab_placeholder.png</string>
			<key>Title</key>
			<string>Flickr Public Photos</string>
			<key>Type</key>
			<string>photo_gallery</string>
		</dict>
		<dict>
			<key>Feeds</key>
			<array>
				<dict>
					<key>xmlUrl</key>
					<string>http://www.discovery.com/radio/xml/news_video.xml</string>
				</dict>
			</array>
			<key>NavController_color</key>
			<string>#716A7E</string>
			<key>NavController_style</key>
			<string>custom</string>
			<key>NewsItemHTML_TitleBackgroundColor</key>
			<string>#000000</string>
			<key>NewsItemList_UnreadColor</key>
			<string>#716A7E</string>
			<key>ShortTitle</key>
			<string>Video</string>
			<key>TabImageName</key>
			<string>video_tab.png</string>
			<key>Title</key>
			<string>Video</string>
		</dict>
	</array>
	<key>TapLynx_LicenseKey</key>
	<string></string>
	<key>WebAds_Height</key>
	<integer>50</integer>
	<key>WebAds_Show</key>
	<true/>
	<key>WebAds_Type</key>
	<string>static</string>
	<key>WebAds_URL</key>
	<string>http://2push2.us/taplynx/test_web_ad.php</string>
	<key>WebAds_Width</key>
	<integer>320</integer>
</dict>
</plist>
